CV.fls
CV.aux
CV.log
CV.out
CV.synctex.gz
CV.fdb_latexmk
CV.pdf
CV.tex
texput.fls
texput.log
CV.fdb_latexmk
CV_Javier_EN.fdb_latexmk
CV_Javier_EN.fls
CV_Javier_EN.log
CV_Javier_EN.out
CV_Javier_EN.synctex.gz
CV_Javier_EN.aux
CV_Javier_ES.fdb_latexmk
CV_Javier_ES.fls
CV_Javier_ES.log
CV_Javier_ES.out
CV_Javier_ES.synctex.gz
CV_Javier_ES.aux
*.pdf
CV_Javier_EN.bbl
CV_Javier_EN.odt
pdflatex121332.fls
CV_Javier_EN.odt
build/*
*.pyc
__pycache__/*